<!-- Auto Redirect to new landing page -->
<meta http-equiv="refresh" content="0; url=https://snqv.dev">
<link rel="canonical" href="https://snqv.dev">
<script>
const targetLanding = "https://snqv.dev";
const excludePrefix = "/forblog";
const currentPath = window.location.pathname;

// If path starts with excluded prefix → do nothing
if (!currentPath.startsWith(excludePrefix)) {
  window.location.href = targetLanding;
}
</script>
<noscript>
<p>Site moved. If you are not redirected automatically, <a href="https://snqv.dev">click here</a>.</p>
</noscript>
